/* Comenta o elimina estos estilos si no son necesarios */
/*
.kpi-box {
    background-color: #1E3A8A; 
    color: #FFFFFF;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.kpi-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.kpi-value {
    font-size: 1.5em;
}
*/

/* Centrar contenido en la columna 'Plataforma' 
[data-testid="stTable"] td:nth-child(4),
[data-testid="stTable"] th:nth-child(4) {
    text-align: center !important;
    vertical-align: middle !important;
}
    */